<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{{EMAIL_HTML_TITLE}}</title>
<style>
/* -------------------------------------
    GLOBAL
------------------------------------- */
* {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.6em;
  margin: 0;
  padding: 0;
}

img {
  max-width: 600px;
  width: auto;
}

body {
  -webkit-font-smoothing: antialiased;
  height: 100%;
  -webkit-text-size-adjust: none;
  width: 100% !important;
}


/* -------------------------------------
    ELEMENTS
------------------------------------- */
a {
  color: #337ab7;
}

.btn-primary {
  margin-bottom: 10px;
  width: auto !important;
  margin-top:20px;
}

.btn-primary td {
  background-color: #337ab7; 
  border-radius: 0.5em;
  box-shadow:0 2px 3px #999;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-size: 14px; 
  text-align: center;
  vertical-align: top; 
}

.btn-primary td a {
  background-color: #337ab7;
  border: solid 1px #337ab7;
  border-radius: 25px;
  border-width: 10px 20px;
  display: inline-block;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  line-height: 2;
  text-decoration: none;
}

.last {
  margin-bottom: 0;
}

.first {
  margin-top: 0;
}

.padding {
  padding: 10px 0;
}


/* -------------------------------------
    BODY
------------------------------------- */
.body-wrap {
  padding: 20px;
  width: 100%;
}

.body-wrap .container {
  border: 1px solid #f0f0f0;
}

.contact-us-message {
  margin-top:50px;
}


/* -------------------------------------
    FOOTER
------------------------------------- */
.footer-wrap {
  clear: both !important;
  width: 100%;  
}

.footer-wrap .container p {
  color: #666666;
  font-size: 12px;
  
}

.footer-wrap a {
  color: #999999;
}


/* -------------------------------------
    TYPOGRAPHY
------------------------------------- */
h1, 
h2, 
h3 {
  color: #111111;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
  line-height: 1.2em;
  margin: 40px 0 10px;
}

h1 {
  font-size: 22px;
}
h2 {
  font-size: 18px;
}
h3 {
  font-size: 22px;
}

p, 
ul, 
ol {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 10px;
}

ul li, 
ol li {
  margin-left: 5px;
  list-style-position: inside;
}

/* ---------------------------------------------------
    RESPONSIVENESS
------------------------------------------------------ */

/* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
.container {
  clear: both !important;
  display: block !important;
  Margin: 0 auto !important;
  max-width: 600px !important;
}

/* Set the padding on the td rather than the div for Outlook compatibility */
.body-wrap .container {
  padding: 20px;
}

/* This should also be a block element, so that it will fill 100% of the .container */
.content {
  display: block;
  margin: 0 auto;
  max-width: 600px;
}

.logo {
  width:200px;
}

/* Let's make sure tables in the content area are 100% wide */
.content table {
  width: 100%;
}
.capso-description {
  margin-top:30px;
  font-size:15px;
}
.invitation-expiry-message {
  color:#777;
}

</style>
</head>

<body bgcolor="#f6f6f6">


<table style="width: 100%">
  <tr>
    <td>
      <center>
        <!--[if mso]>
        <table style="width: 640px;"><tr><td>
        <![endif]-->
        <div style="max-width: 800px; margin: 0 auto;">
          

          <table class="body-wrap" bgcolor="#f6f6f6">
            <tr>
              <td></td>
              <td class="container" bgcolor="#FFFFFF">

                <div class="content">
                <table>
                  <tr>
                    <td align="center">
                      <a href="{{CONFIRM_REGISTRATION_LINK}}"><img class="logo" src="logo-color-499x355.png"></a>
                    </td>
                  </tr>
                  <tr>
                    <td  align="center">
                      <h1>You have been invited by Darragh McCarthy to join Capso</h1>
                      <p>{{REASON}} (if our admin team is sending the invites, we need to explain how we found their contact details, otherwise it might appear like spam. If it's a cold email, then arguably it is)</p>
                      <p class="capso-description">{{CAPSO_DESCRIPTION}} Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                      <!-- button -->
                      <table class="btn-primary" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                          <td align="center">
                            <div>
                              <a href="https://github.com/leemunroe/html-email-template" href="{{CONFIRM_REGISTRATION_LINK}}">Confirm Registration</a>                  
                            </div>
                          </td>
                        </tr>
                      </table>
                      <p class="invitation-expiry-message">This invitation expires in {{XYZ}} hours</p>
                      <!-- /button -->
                      <p class="contact-us-message">Do you have feedback or need help registering? <a href="{{CONTACT_US}}">Contact us</a></p>
                    </td>
                  </tr>
                </table>
                </div>
                <!-- /content -->
                
              </td>
              <td></td>
            </tr>
          </table>

          <table class="footer-wrap">
            <tr>
              <td></td>
              <td class="container">

                <div class="content">
                  <table>
                    <tr>
                      <td align="center" >
                        <p>If you no longer want to receive emails from Capso, <a href="{{UNSUBSCRIBE}}"><unsubscribe>unsubscribe</unsubscribe></a>.
                        </p>
                      </td>
                    </tr>
                  </table>
                </div>
                <!-- /content -->
                
              </td>
              <td></td>
            </tr>
          </table>
          <!-- /footer -->

          
        </div>
      </center>
      <!--[if mso]>
      </td></tr></table>
      <![endif]--> 
    </td>
  </tr>
</table>



</body>
</html>
